---
layout: bawaan
---

<!-- mulai -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">Beranda</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tentang">Tentang</a>
  </li>
  <li class="nav-item hidden-xs hidden-sm">
    <a class="nav-link" data-toggle="tab" href="#kontak">Kontak</a>
  </li>
  {% include ndownload.html %}
  
  <!-- untuk mobile -->
  <li class="nav-item dropdown hidden-lg hidden-md">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lagi</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" data-toggle="tab" href="#kontak">Kontak</a>>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="tab" href="#ciutirc">ciutIRC</a>
	   <a class="dropdown-item" data-toggle="tab" href="#rusuh">RuSuH ScRIptS <code>.exe</code></a>
    </div>
  </li>
</ul>
	<div id="myTabContent" class="tab-content">
	{% include tberanda.html %}
	{% include tblog.html %}
	{% include ttentang.html %}
	{% include tkontak.html %}
	{% include tdownload.html %}
	</div>

