<span class="nav-item dropdown">
<a class="badge badge-primary nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bagi</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="https://twitter.com/intent/tweet?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}&amp;text=| {{ page.title}}" target="_blank">Twitter</a>  
<a class="dropdown-item" href="https://www.facebook.com/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Facebook</a>
<a class="dropdown-item" href="https://api.whatsapp.com/send?text={{ page.title}} | {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank">WhatsApp</a>
<a class="dropdown-item" href="https://t.me/share/url?url={{ page.title}} | {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" target="_blank">Telegram</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#permalink" data-toggle="modal" data-target="#permalink">Salin link</a>
</div>
</span>

<!-- untuk copy link -->
<div class="modal fade" id="permalink" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
		  <h5 class="modal-title" id="about-label">Salin TextLink</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		  <span aria-hidden="true">&times;</span>
		  </button></div>
      <div class="modal-body">
	 <input class="text form-control input-sm" id="copylink" type="text" value="{{ page.title}} | {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" onclick="this.select()" onkeyup="select_text();"/>
		</div>
		</div>
	</div>
</div>