<div class="tab-pane fade show active" id="blog">
   <div class="card">
   <div class="card-body">
   <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<h4 class="card-title post-title" itemprop="name headline">{{ page.title }}</h4>
    <h6 class="card-subtitle mb-2 text-muted"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h6>
	<div class="card-text post-content" itemprop="articleBody">
    {{ content }}
	</div>
	<hr />
 {% if page.tags %}{% for tag in page.tags %} <a href="{{ site.url }}{{site.baseurl }}/tags"><span class="badge badge-secondary">{{tag}}</span></a> {% endfor %}{% else %} None {% endif %} <a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="bookmark"><span class="badge badge-primary pull-right">Permalink</span></a>
	</article>
  </div>
  </div>
</div>