<div class="tab-pane fade" id="blog">
<div id="ndelik" class="ndelik alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Info!</h4>
  <p class="mb-0">Kunjungi juga blog ciut yang ada di <a href="//ciutirc.blogspot.com" class="alert-link">ciutirc.blogspot.com</a>.</p>
</div>
   <ul class="post-list list-group">
    {% for post in site.posts %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="post-meta hidden-xs">{{ post.date | date: "%-d %b %Y" }}</span>
        <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
      </li>
    {% endfor %}
  </ul>
</div>