<div class="card mb-3">
  <h3 class="card-header">RuSuH ScRIptS</h3>
  <div class="card-body">
    <h5 class="card-title">Karena rusuh itu relatif.</h5>
    <h6 class="card-subtitle text-muted">Dan relatif adalah ke indahan.</h6>
  </div>
  <img style="height: 200px; width: 100%; display: block;" src="https://raw.githubusercontent.com/ciut/ciut.github.io/jadul/img/portfolio-3.jpg" alt="RuSuH">
  <div class="card-body">
    <p class="card-text">RuSuh Scripts adalah sebuah script yang di setting untuk sebuah mIRC baik itu <code>remote</code>, <code>aliase</code> dan apapun sebutannya. Script .mrc ini telah di include kan di progam mirc.exe, jadi bisa langsung aktif ketika 
	<pre>/remote on</pre>
	RuSuH Script mempunyai 2 versi, yaitu mods by nick catHy dan g0eZ, silahkan pilih mana yang kamu sukai =)</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Mod catHy</a>
    <a href="#" class="card-link">Mod g0eZ</a>
  </div>
  <div class="card-footer text-muted">
    issue by goez
  </div>
</div>