<!DOCTYPE html>
<html lang="id">
{% include pkepala.html %}
{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}
  <body> 

<!-- mulai post blog -->
<div class="container col-lg-6 col-lg-offset-3">
<div style="margin-top: 100px;"></div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Beranda</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tentang">Tentang</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#kontak">Kontak</a>
  </li> 
  {% include ndownload.html %}
</ul>
	<div id="myTabContent" class="tab-content">
	{% include tblog.html %}
	{% include pos.html %}
	{% include ttentang.html %}
	{% include tkontak.html %}
	{% include tdownload.html %}
	</div>
	{% include kaki.html %}
	{% include slakangan.html %}
	</div>
  </body>
</html>
  