---
layout: bawaan
---
<div class="container col-lg-6 col-lg-offset-3">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Beranda</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tentang">Tentang</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#kontak">Kontak</a>
  </li>
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Download</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://github.com/ciut/irc/releases/download/1.0/ciutIRC4Android.apk">ciutIRC4Android <code>.apk</code></a>
      <a class="dropdown-item" href="https://github.com/ciut/irc/releases/download/1.0/ciutIRC.SPFC.jar">ciutIRC SPFC <code>.jar</code></a>
      <a class="dropdown-item" href="https://github.com/ciut/irc/releases/download/1.0/ciutIRC.HV.jar">ciutIRC HV <code>.jar</code></a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" data-toggle="tab" href="#rusuh">RuSuH ScRIptS <code>.exe</code></a>
    </div>
  </li>
</ul>
	<div id="myTabContent" class="tab-content">
	{% include tblog.html %}
	{% include pos.html %}
	{% include ttentang.html %}
	{% include tkontak.html %}
	{% include tdownload.html %}
	</div>
</div>

  